body {
  font-family: futura;
  margin: 0px;
}

#logo {
  margin: 30px;
}

header {
  display: flex;
}

#header-text {
  flex: auto;
}

header hr {
  border: 3px solid black;
}

h2 {
  margin-top: 70px;
  font-weight: 100;
  font-size: 40px;
}

nav {
  margin: 50px 0 40px 0;
  padding-right: 80px;
  font-size: 25px;
  display: flex;
  justify-content: end;
}

nav span {
  margin: 0 40px;
}

#products-nav {
  font-weight: bold;
  background-color: yellow;
}

#product-grid {
  margin: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

img.product {
  border: 3px solid black;
}

.product-card {
  margin: 0 0 90px;
  max-width: 286px;
}

h3 {
  margin: 5px 0 10px 0;
  font-weight: 200;
  font-size: 25px;
}

/* I used http://howtocenterincss.com to help here!*/
.row-cart {
  font-size: 20px;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  font-family: futura;
  font-size: 20px;
  background-color: white;
  border: 2px solid black;
  padding: 5px 15px;
}

button:hover {
  background-color: yellow;
  cursor: pointer;
}